<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/layout_admin}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div layout:fragment="content-admin">
    <table class="table">
        <thead>
        <tr class="table-active">
            <td scope="col">Name</td>
            <td scope="col">Url</td>
            <td scope="col">Owner</td>
            <td scope="col">Created</td>
            <td scope="col"></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="link : ${links}">
            <td th:text="${link.name}"></td>
            <td th:text="${link.url}"></td>
            <td th:text="${link.owner.userName}"></td>
            <td th:text="${link.created}"></td>
            <td><a class="btn btn-light" href="#" th:href="@{'/shortener/link/' + ${link.id} + '/'}"><i class="fas fa-edit"></i></a></td>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/pagination :: pagination(${links}, '/shortener/links/')">
    </div>
    <a sec:authorize="hasRole('ROLE_SHORTEN')" class="btn btn-success"
       href="#" th:href="@{'/shortener/link/create/'}">Add</a>
</div>
</body>
</html>

