<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/layout_admin}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create link</title>
</head>
<body>
<div layout:fragment="content-admin">
    <div class="alert alert-success" role="alert">
        <div class="form-group">
            <label for="url">Shortened url:</label>
            <input class="form-control form-control-lg" type="url" id="url" th:value="${url}" readonly>
        </div>
    </div>
    <a class="btn btn-success" href="#" th:href="@{'/shortener/links/'}">Continue</a>
    <script>
        let input = document.getElementById('url');
        input.focus();
        input.select();
    </script>
</div>
</body>
</html>

